.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.names{
    display: flex;
	flex-direction: row;
	justify-content: space-around;
    gap: 55px;
}