@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300&display=swap');

body{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
} 

/*barra de navegación*/

.navigationVar{
	display: flex;
    justify-content: space-between;
    margin: 10 -10px;
}

.firstLogo{
    display: absolute;
    width: 140px;
    height: 40px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 10px;
}

/*Foto con texto encima*/

.firstSection{
    position: relative;
    display: flex;
    color: white;
}

.bgimage{
    background-image: url(./images/landing.jpg);
    background-size: cover;
    color: white;
    height: 500px;
}

header h1{
    text-align: center;
    padding-top: 15%;
}

header p{
    text-align: center;
}

/*Whats on spotify section*/

/* .whatsp{
    text-align: center;
    text-decoration: underline rgb(110, 211, 110);
    margin-top: 5%;
} */

section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0;
}

section:nth-of-type(1) h2 {
    text-decoration: underline rgb(87, 206, 87);
    margin-bottom: 2rem;
}

section:nth-of-type(1) h4 {
    color: rgb(87, 206, 87);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

section:nth-of-type(1) p {
    font-weight: 400;
}

section:nth-of-type(1) div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}


section:nth-of-type(1) .iconbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

/*seccion verde*/

section:nth-of-type(2) {
    padding: 1rem;
}

section:nth-of-type(2) div {
    background-color: rgb(87, 206, 87);
    display: flex;
    padding: 2rem;
}

section:nth-of-type(2) div > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: left;
}









